src/main/mule/Salesforce/outbound-messages/outbound-messages.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:azure-storage="http://www.mulesoft.org/schema/mule/azure-storage" xmlns:batch="http://www.mulesoft.org/schema/mule/ee/batch" xmlns:box="http://www.mulesoft.org/schema/mule/box" xmlns:bti="http://www.mulesoft.org/schema/mule/ee/bti" xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:google-sheets="http://www.mulesoft.org/schema/mule/google-sheets" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:http-policy="http://www.mulesoft.org/schema/mule/mule-http" xmlns:kryo="http://www.mulesoft.org/schema/mule/kryo" xmlns:module="http://www.mulesoft.org/schema/mule/module" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="Notification" service="NotificationService" wsdlLocation="opporunity-oli.wsdl"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/NotificationService/Notification">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="notifications:\soapkit-config">
		<logger level="INFO" doc:name="Log Salesforce Outbound message" doc:id="43b0915e-7d49-4aac-a08e-33ae51a805d6" message="#[payload]" />
		<ee:transform doc:name="Notification object from Outbound Message" doc:id="8c2ac625-04a3-4e59-906f-40005bbf1432" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.body[0].Notification
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="ACK to SFDC" doc:id="d25aab2f-a2f6-4f31-ab9e-5f7b5927a2c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns out http://soap.sforce.com/2005/09/outbound
output application/xml  writeDeclaredNamespaces="All", writeDeclaration=false
---
element : [
    {
    	Ack: 1,
    }
]
      ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
